{% extends "app-base.html" %}
{% load staticfiles my_filters avatar_tags %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <!-- PATH GUIDE -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Update Profile Picture</h2>
            <ol class="breadcrumb">
                <li >
                    Settings
                </li>
                <li >
                    <a href="{% url 'django_auth_app:my_profile' %}">My Profile</a>
                </li>
                <li>
                    <a href="{% url 'django_auth_app:profile_edit' %}">Edit Profile</a>
                </li>
                <li class="active">
                    <strong>Update Profile Picture</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Current Picture</h5>
                    </div>
                <div>
                <div class="ibox-content  border-left-right">
                    <div class="text-center">
                        <img alt="profile_image" class="img-circle" src="{% avatar_url user 250 %}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Upload a New Picture</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="ibox-content" >
                        <div id="preview_div" class="form-group" style="display: none; width: 100%;overflow: hidden;">
                            <h4>Preview Image</h4>
                            <img id="preview_image" style="max-width: 100%" src=""/>
                        </div>
                        <p>
                            Select a picture file form your computer. Max size allowed: 1mb.
                        </p>
                        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label title="Upload image file" for="id_avatar" class="btn btn-primary">
                                    <input type="file" accept="image/*" name="avatar" id="id_avatar" class="hide">
                                    Select a file
                                </label>
                            </div>
                            <div>
                                <button id="submit_button" class="btn btn-success pull-right m-t-n-xs" type="submit" disabled="disabled"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="{% static "js/upload_picture.js" %}"></script>
{% endblock content %}
