{% extends "app-base.html" %}
{% load  staticfiles my_filters admin_urls avatar_tags %}
{% block extrahead %}
    <link href="{% static "css/plugins/dropzone/basic.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/dropzone/dropzone.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <!-- PATH GUIDE -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="padding-top: 20px;">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">
                    <strong>File detail</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <!-- PAGE CONTENT -->
    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    {% if perms.sundog.change_myfile %}<a id="edit_tag" href="{% url 'file_edit' file.file_id %}" class="btn btn-success pull-right">Edit file</a> {% endif %}
                                    <h2>File #{{ file.file_id }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading" style="padding: 0px;">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Summary</a></li>
                                                <li class=""><a href="#tab-2" data-toggle="tab">Notes</a></li>
                                                <li class=""><a href="#tab-3" data-toggle="tab">Status History</a></li>
                                                <li class=""><a href="#tab-4" data-toggle="tab">Documents</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="border: 1px solid #ddd; border-top: 0;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="row">
                                                    <dl class="dl-horizontal">
                                                        <dt>Description:</dt> <dd>{{ file.description|title }}</dd>
                                                    </dl>
                                                </div>
                                                <div class="row">
                                                    <dl class="dl-horizontal">
                                                        <dt>Priority:</dt> <dd><span><i class="fa fa-circle {{ file.priority|priorityColor }}"></i> {{ file.priority|priorityName }}</span></dd>
                                                    </dl>
                                                </div>
                                                <div class="row">
                                                    <dl class="dl-horizontal">
                                                        <dt>Status:</dt> <dd><span class="label {{ file.current_status.related_color }}">{{ file.current_status.name|title }}</span></dd>
                                                    </dl>
                                                </div>
                                                <div class="row">
                                                    <dl class="dl-horizontal">
                                                        <dt>Tags: </dt>
                                                        <dd>
                                                        {% if file.tags.all %}
                                                            <ul class="tag-list" style="padding: 0">
                                                                {% for tag in file.tags.all %}
                                                                    <li><a><i class="fa fa-tag"></i> {{ tag.name|title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% else %}
                                                            <p><small>No tags</small></p>
                                                        {% endif %}
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <dl class="dl-horizontal">
                                                            <dt>Created by:</dt> <dd>{% firstof file.creator_user_full_name file.creator_user_username "Anonymous user" %}</dd>
                                                            <dt>Notes:</dt> <dd id="notes-count">  {{ file.messages.count }}</dd>
                                                            <dt>Client:</dt> <dd><a  data-toggle="modal" data-target="#updateClientModal" class="text-navy">{{ file.client.name|title }}</a></dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-lg-7" id="cluster_info">
                                                        <dl class="dl-horizontal" >
                                                            <dt>Last Updated:</dt> <dd>{{ file.last_update_time|formatDatetime }}</dd>
                                                            <dt>Created:</dt> <dd> 	{{ file.created_time|formatDatetime }} </dd>
                                                            <dt>Participants:</dt>
                                                            <dd class="project-people tooltip-demo">
                                                                {% for participant in file.participants.all %}
                                                                    <a id="link-participant-{{ participant.id }}" class="link participant-modal-button" data-toggle="modal" data-target="#myParticipantModal"
                                                                       data-username="{{ participant.username }}" data-id="{{ participant.id }}">
                                                                        <img alt="image" class="img-circle" src="{% avatar_url participant%}"
                                                                             data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ participant.get_full_name }}"/></a>
                                                                {% endfor %}
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                {% if not file.current_status.related_percent == None %}
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <dl class="dl-horizontal">
                                                                <dt>Completed:</dt>
                                                                <dd>
                                                                    <div class="progress progress-striped active m-b-sm">
                                                                        <div style="width: {{ file.current_status.related_percent }}%;" class="progress-bar"></div>
                                                                    </div>
                                                                    <small>File completed in <strong>{{ file.current_status.related_percent }}%</strong>.</small>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <dl class="dl-horizontal">
                                                            <dt >Quoted price:</dt> <dd>{{ file.quoted_price|currency }} </dd>
                                                            <dt >Quoted date:</dt> <dd>{{ file.quoted_date |date:"SHORT_DATE_FORMAT"}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-lg-7">
                                                        <dl class="dl-horizontal">
                                                            <dt >Invoice price:</dt> <dd>{{ file.invoice_price|currency }} </dd>
                                                            <dt >Invoice date:</dt> <dd>{{ file.invoice_date|date:"SHORT_DATE_FORMAT" }}</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <div class="feed-activity-list">
                                                    {% for message in file.messages.all %}
                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img class="profile-thumbnail img-circle" src="{% avatar_url message.user %}" />
                                                        </a>
                                                        <div class="media-body ">
                                                            <small class="pull-right">{{ message.time|formatDatetime }}</small>
                                                            <strong>{% if message.user.get_full_name != '' %} {{ message.user.get_full_name }} {% else %} {{ message.user.username }} {% endif %}</strong> <br>
                                                            <div class="well">
                                                                {{ message.message }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="social-footer">
                                                    <div class="social-comment">
                                                        <a href="" class="pull-left">
                                                            <img style="width: auto" class="profile-thumbnail img-circle" src="{% avatar_url user %}" />
                                                        </a>
                                                        <div class="media-body">
                                                            <form id="upload-message-form" method="post" action="{% url 'messages_upload' file.file_id %}">
                                                                {% csrf_token %}
                                                                <textarea class="form-control" name="message" placeholder="Write a message..."></textarea>
                                                                <div class="m-t text-right">
                                                                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-3">
                                            {% if file.file_status_history.all %}
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Previous Status</th>
                                                        <th>New Status</th>
                                                        <th>Modified by</th>
                                                        <th>Modified at</th>
                                                        <th>Impersonated By</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for file_history in file.file_status_history.all %}
                                                    <tr>
                                                        <td><span class="label {{ file_history.previous_file_status_color }}">{{ file_history.previous_file_status|default_if_none:"" }}</span></td>
                                                        <td><span class="label {{ file_history.new_file_status_color }}">{{ file_history.new_file_status }}</span></td>
                                                        <td>{% firstof file_history.modifier_user_full_name file_history.modifier_user_username "Anonymous user" %}</td>
                                                        <td>{{ file_history.modified_time|formatDatetime }}</td>
                                                        <td>{{ file_history.impersonated_by.username }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% endif %}
                                            </div>
                                            <div class="tab-pane" id="tab-4">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-content">
                                                        <form id="upload-documents-form" class="dropzone" method="post" action="{% url 'documents_upload' file.file_id %}">
                                                            {% csrf_token %}
                                                            <div class="dropzone-previews"></div>
                                                        </form>
                                                        <div>
                                                            <div class="m text-right"><small>Drag and drop files into the form, or click inside the form area to open an upload dialog.</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <div class="row">
                    <!-- right sidebar empty for now -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="myParticipantModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
               <div class="modal-header">
                   <button id="pModalCloseButton" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   <img id="pModalProfileImage" alt="image" class="img-circle" src="{% static "img/profile_small.jpg" %}">

                   <h3 class="m-b-xs"><div id="pModalFullname" class="font-bold">Full name</div></h3>

                   <div id="pModalUsername" class="font-bold">username</div>
                   <div class="hr-line-dashed"></div>
            </div>
        </div>
    </div>
    {% if perms.sundog.add_client %}
        <div class="modal inmodal" id="updateClientModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button id="add-client-close-button" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-user modal-icon"></i>
                        <h4 class="modal-title">Client: {{ file.client.name }}</h4>
                        <small class="font-bold">Update client information below.</small>
                    </div>
                    <form id="update-client-form" action="{% url 'ajax_client_add' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body row no-margins">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_client_type"><span class="text-danger">*</span> Client type: </label>
                                    {{ form_client.client_type|addcss:'chosen-select'  }}
                                </div>
                                <div class="form-group">
                                    <label for="id_name"><span class="text-danger">*</span> Name: </label>
                                    {{ form_client.name|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_identification"><span class="text-danger">*</span> ID: </label>
                                    {{ form_client.identification|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_email">Email: </label>
                                    {{ form_client.email|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_phone_number">Phone number: </label>
                                    {{ form_client.phone_number|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_mobile_number">Mobile number: </label>
                                    {{ form_client.mobile_number|addcss:'form-control' }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_country">Country: </label>
                                    {{ form_client.country|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_address">Address: </label>
                                    {{ form_client.address|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_city">City: </label>
                                    {{ form_client.city|addcss:'form-control' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_state">State: </label>
                                    {{ form_client.state|addcss:'chosen-select' }}
                                </div>
                                <div class="form-group">
                                    <label for="id_zip_code">Zip code: </label>
                                    {{ form_client.zip_code|addcss:'form-control' }}
                                </div>
                            </div>
                            <div class="col-md-12"><span class="text-danger">*</span> Required fields.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="new-client-button">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <script type="text/html" id="template-feed-element">
        <div class="feed-element">
            <a href="#" class="pull-left">
                <img alt="image" class="img-circle" src="{% avatar_url user %}">
            </a>
            <div class="media-body ">
                <small class="pull-right">__TIME__</small>
                <strong>__FULL_NAME__</strong> <br>
                <div class="well">
                    __MESSAGE__
                </div>
            </div>
        </div>
    </script>
    <!-- DROPZONE -->
    <script type="text/javascript" >
        var client_id = "{{ file.client.client_id }}";
        var document_list = {{documents|jsonify}};
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>

    <script src="{% static "js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/plugins/chosen/chosen.jquery.js" %}"></script>
    <script src="{% static "js/plugins/dropzone/dropzone.js" %}"></script>
    <script src="{% static "js/file/file.js" %}"></script>
{% endblock %}