<span class="text-nowrap">

  <a
    id="{{ instance.pk }}-edit-contact-status"
    href="{% url "edit_contact_status" contact_id=instance.pk %}"
    class="edit-contact-status"
  >
    <span title="Edit Status" class="glyphicon glyphicon-th"></span>
  </a>

  <a
    id="{{ instance.pk }}-edit-contact-info"
    href="{% url "edit_contact" contact_id=instance.pk %}"
    class="edit-contact-info"
  >
    <span title="Edit Info" class="glyphicon glyphicon-edit"></span>
  </a>

  <a
    id="{{ instance.pk }}-contact-dashboard"
    href="{% url "contact_dashboard" contact_id=instance.pk %}"
    class="contact-dashboard"
  >
    <span title="Dashboard" class="glyphicon glyphicon-arrow-right"></span>
  </a>

</span>
