{% extends "app-base.html" %}
{% load staticfiles my_filters %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url "users_list" %}">Users & Administration</a>
                </li>
                <li class="active">
                    <a href="">Teams</a>
                </li>
            </ol>
        </div>
    </div>
    <h3 class="m-t-md">Add Team</h3>
    {% if 'sundog.admin__edit_teams' in perms %}
    <div class="col-xs-12 no-padding">
        <label for="select-team" class="col-xs-1 made-by-option no-padding">Select to Edit:</label>
        <select id="select-team" class="col-xs-2 no-padding">
            {% for team in teams %}
                <option value="{{ team.0 }}">{{ team.1 }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="well p-xs m-t-md col-xs-12">
        <form id="add-team-form" action="{% url "add_team" %}">
            {% csrf_token %}
            <div class="col-xs-11 no-padding-sides">
                <div class="col-xs-3">
                    <label class="col-xs-6 no-padding made-by-option">Name</label>
                    {{ form.name }}
                </div>
                <div class="col-xs-3">
                    {% with form.fields|get_item:'companies' as companies %}
                    <label class="col-xs-6 no-padding made-by-option">Companies ({{ companies.queryset|length }})</label>
                    {% endwith %}
                    {{ form.companies }}
                </div>
                <div class="col-xs-3">
                    {% with form.fields|get_item:'roles' as roles %}
                    <label class="col-xs-6 no-padding made-by-option">Roles ({{ roles.queryset|length }})</label>
                    {% endwith %}
                    {{ form.roles }}
                </div>
                <div class="col-xs-3">
                    {% with form.fields|get_item:'users' as users %}
                    <label class="col-xs-6 no-padding made-by-option">Users ({{ users.queryset|length }})</label>
                    {% endwith %}
                    {{ form.users }}
                </div>
            </div>
            <div class="col-xs-1">
                <button id="save-team" type="button" class="pull-right btn btn-primary">Save</button>
                <button id="reset-team" type="reset" class="pull-right btn btn-primary hidden">Reset</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var editTeamUrl = '{% url "edit_team" team_id=0 %}';
        var addTeamUrl = '{% url "add_team" %}';
    </script>
    <script src="{% static "js/admin/add_team.js" %}"></script>
{% endblock %}