{% extends "app-base.html" %}
{% load staticfiles my_filters %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url "users_list" %}">Users & Administration</a>
                </li>
                <li class="active">
                    <a href="">User Roles</a>
                </li>
            </ol>
        </div>
    </div>
    <h3 class="m-t-md">Add User Role</h3>
    <div class="col-xs-12 no-padding">
        <label for="select-role" class="col-xs-1 made-by-option no-padding">Select to Edit:</label>
        <select id="select-role" class="col-xs-2 no-padding">
            {% for role in roles %}
            <option value="{{ role.0 }}">{{ role.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="well p-xs m-t-md col-xs-12">
        <form id="add-role-form" action="{% url "add_user_role" %}">
            {% csrf_token %}
            <div class="col-xs-3">
                <label class="col-xs-4 no-padding made-by-option">Role Name</label>
                {{ form.name }}
            </div>
            <div class="col-xs-3">
                <label class="col-xs-4 no-padding made-by-option">Parent Role</label>
                {{ form.parent }}
            </div>
            <div class="col-xs-3">
                <div class="col-xs-4 no-padding made-by-option">
                    <label>Assignable</label>
                </div>
                <div class="inline vertical-align">{{ form.assignable }}</div>
            </div>
            <div class="col-xs-3">
                <button id="save-role" type="button" class="pull-right btn btn-primary">Save</button>
                <input class="reset hidden" type="reset" value="Reset">
            </div>
        </form>
    </div>
    <div id="permissions-container" class="col-xs-12 no-padding-sides padding-for-footer">
        {% for permission_section in permission_sections %}
        <div class="section-container col-xs-12 border p-xs m-b-md">
            {% for permission in permission_section|get_item:"permissions" %}
            {% if permission.name == 'Access Tab' %}
            <div class="col-xs-12 no-padding">
                <div class="col-xs-2">
                    <div class="section-name inline"><label class="reset-min-width" for="{{ permission.id }}">{{ permission_section|get_item:"name" }}</label></div>
                    <div class="section-name-selector inline vertical-align">
                        <input id="{{ permission.id }}" class="section-checkbox" type="checkbox">
                    </div>
                </div>
                <div class="col-xs-10 no-padding">
                    <button type="button" class="btn btn-sm btn-default select-all">Select All</button>
                    <button type="button" class="btn btn-sm btn-default select-none">Select None</button>
                </div>
            </div>
            {% else %}
            <div class="col-xs-3">
                <div class="inline vertical-align">
                    <input id="{{ permission.id }}" class="permission-checkbox" type="checkbox">
                </div>
                <div class="inline">
                    <label for="{{ permission.id }}">{{ permission.name }}</label>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        var editRoleUrl = '{% url "edit_user_role" role_id=0 %}';
        var addRoleUrl = '{% url "add_user_role" %}';
    </script>
    <script src="{% static "js/admin/add_user_role.js" %}"></script>
{% endblock %}