{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    <title>{% block title %}Performance Settlement | Admin{% endblock title %}</title>
    <!-- Sweet Alert -->
    <link href="{% static "css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="content-main">
{% if app_list %}
    {% for app in app_list %}
        {% if app.name != "Default" and app.name != "Oauth2_Provider" and app.name != "Python Social Auth" and app.name != "Sites" and app.name != "Wagtail documents" and app.name != "Wagtail core" and app.name != "Wagtail images" and app.name != "Taggit" %}
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <h2 class="pull-left"><a href="{{ app.app_url }}" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a> </h2>
                        <a class="collapse-link" id="{% for word in app.name.split %}{{word}}{% if not forloop.last %}_{% endif %}{% endfor %}">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover admin-table">
                        <tbody>
                        {% for model in app.models %}
                                <tr>
                                    <td width="50%">
                                    {% if model.admin_url %}
                                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                    {% else %}
                                        {{ model.name }}
                                    {% endif %}
                                    </td>
                                    <td width="50%">
                                    {% if model.add_url %}
                                        <a href="{{ model.add_url }}"><i class="fa fa-plus text-navy"></i>&nbsp;{% trans 'Add' %}</a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}

                                    {% if model.admin_url %}
                                        <a href="{{ model.admin_url }}" style="margin-left: 10px;"><i class="fa fa-edit text-navy"></i>&nbsp;{% trans 'Change' %}</a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!-- other custom admin modules -->
    {% if user.is_superuser %}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <h2 class="pull-left"><a href>App Log</a></h2>
                    <a class="collapse-link" id="App_Log">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover admin-table">
                    <tbody>
                        <tr>
                            <td width="50%">
                                <a href>App Log</a>
                            </td>
                            <td width="50%">
                              <a href="{% url 'display_log' %}" target="_blank"><i class="fa fa-folder-open text-navy"></i>&nbsp;Show</a>
                              <a href="javascript:delete_log();" style="margin-left: 10px;"><i class="fa fa-trash text-danger"></i>&nbsp;Erase</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Sweet alert -->
        <script src="{% static "js/plugins/sweetalert/sweetalert.min.js" %}"></script>
        <script>
        function delete_log(){
            swal({
                    title: "Are you sure?",
                    text: "Your will not be able to undo this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d9534f",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                },
                function() {
                    $.post({% url 'erase_log' %}, {csrfmiddlewaretoken: '{{csrf_token}}'}, function( data ) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-bottom-center",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        if ((data!==undefined) && (data.hasOwnProperty("result"))) {
                            if (data.result=="OK") {
                                toastr["success"]("Deleted successfully!")
                            } else {
                                toastr["error"](data.result)
                            }

                        } else {
                            toastr["error"]("An error occurred!")
                        }

                    });
                });
        }

        </script>
    {% endif %}
    <script type="text/javascript" >
        var csrf_token = '{{ csrf_token }}';
    </script>
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}
{% block sidebar %}
    <div class="ibox-content" style="margin-right: 40px">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>


{% endblock %}
