<div id="add-stage" class="col-xs-12 well">
    <h3>Add Stage</h3>
    <form id="add-stage-form" action="{% url 'add_stage' %}" method="post" class="form">
        {% csrf_token %}
        {{ form_stage.type }}
        <div class="col-xs-12 m-t-md m-b-md">
            <div class="m-r-xs inline">
                Name: {{ form_stage.name }}
            </div>
        </div>
        <div class="col-xs-12 m-t-md">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-primary cancel" type="button">Cancel</button>
        </div>
    </form>
</div>