<div id="add-status" class="col-xs-12 well">
    <h3>Add Status</h3>
    <form id="add-status-form" action="{% url 'add_status' %}" method="post" class="form">
        {% csrf_token %}
        <div class="col-xs-12 m-t-md m-b-md">
            <div class="m-r-xs inline">
                Name: {{ form_status.name }}
            </div>
            <div class="m-r-xs inline">
                Stage: {{ form_status.stage }}
            </div>
            <div class="m-r-xs inline">
                Color: {{ form_status.color }}
            </div>
        </div>
        <div class="col-xs-12 m-t-md">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-primary cancel" type="button">Cancel</button>
        </div>
    </form>
</div>