<div id="edit-status" class="col-xs-12 well">
    <h3>Edit Status</h3>
    <form id="edit-status-form" action="{% url 'edit_status' %}" method="post" class="form">
        {% csrf_token %}
        <input id="id_status_id" name="status_id" type="hidden" value="">
        <div class="col-xs-12 m-t-md m-b-md">
            <div class="m-r-xs inline">
                Name: {{ edit_form_status.name }}
            </div>
            <div class="m-r-xs inline">
                Stage: {{ edit_form_status.stage }}
            </div>
            <div class="m-r-xs inline">
                Color: {{ edit_form_status.color }}
            </div>
        </div>
        <div class="col-xs-12">
            <h3>Access Restriction</h3>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-12 no-padding">
                    <div class="inline vertical-align">{{ edit_form_status.shared_with_all }}</div>
                    <label for="shared_with_all">Share with all Teams</label>
                </div>
                <div class="col-xs-12 no-padding">{{ edit_form_status.teams }}</div>
            </div>
        </div>
        <div class="col-xs-12 m-t-md">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-primary cancel" type="button">Cancel</button>
            <button id="delete-status" class="btn btn-danger" type="button">Delete</button>
            <input class="reset hidden" type="reset" value="Reset">
        </div>
    </form>
</div>