<div class="tab-content col-xs-12 no-padding-sides">
    <div class="tab-pane active" id="lead-tracker-section">
        {% include "contact/partials/contact/add_client/lead_tracker.html" %}
    </div>
    <div class="tab-pane" id="contact-info-section">
        {% include "contact/partials/contact/add_client/info.html" %}
    </div>
    <div class="tab-pane" id="address-info-section">
        {% include "contact/partials/contact/add_client/address.html" %}
    </div>
    <div class="tab-pane" id="employment-info-section">
        {% include "contact/partials/contact/add_client/employment.html" %}
    </div>
    <div class="tab-pane" id="hardships-section">
        {% include "contact/partials/contact/add_client/hardships.html" %}
    </div>
    <div class="tab-pane" id="special-notes-section">
        {% include "contact/partials/contact/add_client/special_notes.html" %}
    </div>
    <div class="tab-pane" id="third-party-section">
        {% include "contact/partials/contact/add_client/third_party_speaker.html" %}
    </div>
</div>
