<div class="tab-content col-xs-12 no-padding-sides">
    <div class="tab-pane active" id="general-info-section">
        {% include "contact/partials/contact/client_tracker/general_information.html" %}
    </div>
    <div class="tab-pane" id="wc-tracker-section">
        {% include "contact/partials/contact/client_tracker/welcome_call_tracker.html" %}
    </div>
    <div class="tab-pane" id="mar-tracker-section">
        {% include "contact/partials/contact/client_tracker/mar_tracker.html" %}
    </div>
    <div class="tab-pane" id="presettlement-tracker-section">
        {% include "contact/partials/contact/client_tracker/presettlement_tracker.html" %}
    </div>
    <div class="tab-pane" id="settlement-tracker-section">
        {% include "contact/partials/contact/client_tracker/settlement_tracker.html" %}
    </div>
    <div class="tab-pane" id="unknown-creditors-section">
        {% include "contact/partials/contact/client_tracker/unknown_creditors.html" %}
    </div>
</div>
