<span class="text-nowrap">

  <a
    class="documents-delete fm-delete"
    data-fm-callback="reload"
    data-fm-head="Delete this document?  {{ document_title }}"
    href="{% url "documents.delete.ajax" pk=document_id %}"
    id="{{ document_id }}-delete-document"
  >
    <span title="Delete document" class="table-action glyphicon glyphicon-remove"></span>
  </a>

  <a
    class="documents-edit fm-update"
    data-fm-callback="reload"
    data-fm-head="Editing document: {{ document_title }}"
    href="{% url "documents.edit.ajax" pk=document_id %}"
    id="{{ document_id }}-edit-document"
  >
    <span title="Edit document" class="table-action glyphicon glyphicon-arrow-right"></span>
  </a>

</span>
