{% extends "sundog/base/app.html" %}

{% load staticfiles %}


{% block app_view_head %}

  {# bootstrap-datepicker #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" integrity="sha256-urCxMaTtyuE8UK5XeVYuQbm/MhnXflqZ/B9AOkyTguo=" crossorigin="anonymous"></script>

  {# x-editable #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" integrity="sha256-YsJ7Lkc/YB0+ssBKz0c0GTx0RI+BnXcKH5SpnttERaY=" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js" integrity="sha256-+fnaOx6GCnrPNNkJicdgSX4Vtl5jpxdMGykaxRQjDi4=" crossorigin="anonymous"></script>

  {# datatableview #}
  <script type="text/javascript" src="{% static "js/datatableview.min.js" %}"></script>

  {# Initialization for datatables #}
  <script type="text/javascript">

      $.fn.editable.defaults.mode = 'inline';
      datatableview.auto_initialize = false;

      $(function() {

        {% comment %}
        Enable flexible table width; see
        https://datatables.net/examples/basic_init/flexible_width.html
        {% endcomment %}
        $('table.datatable').attr('width', '100%');

        var datatable = datatableview.initialize($('.datatable'), {

          {# Column visibility control button #}
          buttons: [
            'colvis',
          ],

          {% comment %}
          This is the default Bootstrap layout but adds the buttons extension
          B control character to the initial row.  See
          https://datatables.net/reference/option/dom
          {% endcomment %}
          dom: (
            "<'row'<'col-sm-6'Bl><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>"
          ),

          {% comment %}
          x-editable columns initialization options; see
          http://django-datatable-view.appspot.com/x-editable-columns/
          {% endcomment %}
          fnRowCallback: datatableview.make_xeditable({
            {% block table_view_xeditable_options %}
            {% endblock table_view_xeditable_options %}
          }),

          {% comment %}
          Enable the Responsive extension; see
          https://datatables.net/extensions/responsive/
          {% endcomment %}
          responsive: true,

          {# Insert additional datatable options in derived templates #}
          {% block table_view_datatable_options %}
          {% endblock table_view_datatable_options %}

        });

        {% comment %}
        Substitute datatable column footer contents with a text input box for
        colum-specific filtering for columns with the data-config-searchable
        attribute set to true.  Other footer cells are left empty.
        {% endcomment %}
        $('.datatable thead th').each(
          function() {
            $('.datatable tfoot th').eq($(this).index()).html(
              !$(this).data('config-searchable')
              ? ''
              : (
                '<input' +
                  ' type="text"' +
                  ' class="datatable-search-input"' +
                  ' data-column-name="' + $(this).data('name') + '"' +
                  ' placeholder="Search"' +
                ' />'
              )
            );
          }
        );

        {% comment %}
        Implement per-column filtering using the datatables search API; see
        https://datatables.net/reference/api/search()
        {% endcomment %}
        datatable.api().columns().every(
          function() {
            var column = this;
            $(
              'input.datatable-search-input',
              column.footer()
            ).on(
              'keyup change',
              function() {
                if (column.search() !== this.value) {
                  column.search(this.value).draw();
                }
              }
            )
          }
        )

        {% comment %}
        Insert additional JavaScript code in derived templates for datatable
        initialization.  Note that inserted scripts will have access to local
        variables, including the datatable instance.
        {% endcomment %}
        {% block table_view_initialization %}
        {% endblock table_view_initialization %}

      });

  </script>

  {% block table_view_head %}
  {% endblock table_view_head %}

{% endblock app_view_head %}


{% block app_view_pre_content %}

  {% block table_view_pre_content %}
  {% endblock table_view_pre_content %}

{% endblock app_view_pre_content %}


{% block app_view_content %}

  {% block table_view_content %}

    <div class="data-table">
      {{ datatable }}
    </div>

  {% endblock table_view_content %}

{% endblock app_view_content %}


{% block app_view_post_content %}

  {% block table_view_post_content %}
  {% endblock table_view_post_content %}

{% endblock app_view_post_content %}
