<div class="col-md-6">
    <h3> Applicant </h3>
    <div class="form-group">
        <label> First Name * </label>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label> Middle Name </label>
        {{ form.middle_name }}
    </div>
    <div class="form-group">
        <label> Last Name * </label>
        {{ form.last_name }}
    </div>
    <div class="form-group">
        <label> Previous Name </label>
        {{ form.previous_name }}
    </div>
    <div class="form-group">
        <label> Cell Phone * </label>
        {{ form.mobile_number }}
    </div>
    <div class="form-group">
        <label> Home Phone </label>
        {{ form.phone_number }}
    </div>
    <div class="form-group">
        <label> Email </label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label> Date of Birth </label>
        {{ form.birth_date }}
    </div>
    <div class="form-group">
        <label> SSN </label>
        {{ form.identification }}
    </div>
    <div class="form-group">
        <label> Marital Status </label>
        {{ form.marital_status }}
    </div>
    <div class="form-group">
        <label> Dependants (total for both applicants) </label>
        {{ form.dependants }}
    </div>
</div>
<div class="col-md-6">
    <h3> Co-Applicant </h3>
    <div class="form-group">
        {{ form.co_applicant_first_name }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_middle_name }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_last_name }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_previous_name }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_mobile_number }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_phone_number }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_email }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_birth_date }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_identification }}
    </div>
    <div class="form-group">
        {{ form.co_applicant_marital_status }}
    </div>
</div>