<div class="col-md-4">
    <div class="m-b-md">
        <h3> Applicant </h3>
        <hr />
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> First Name * </label>
        </div>
         <div class="col-md-6">{{ form.first_name }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Middle Name </label>
        </div>
        <div class="col-md-6">{{ form.middle_name }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Last Name * </label>
        </div>
        <div class="col-md-6">{{ form.last_name }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Previous Name </label>
        </div>
        <div class="col-md-6">{{ form.previous_name }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Cell Phone * </label>
        </div>
        <div class="col-md-6">{{ form.mobile_number }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Home Phone </label>
        </div>
        <div class="col-md-6">{{ form.phone_number }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Email </label>
        </div>
        <div class="col-md-6">{{ form.email }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Date of Birth </label>
        </div>
        <div class="col-md-6">{{ form.birth_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> SSN </label>
        </div>
        <div class="col-md-6">{{ form.identification }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Marital Status </label>
        </div>
        <div class="col-md-6">{{ form.marital_status }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Dependants (total for both applicants) </label>
        </div>
        <div class="col-md-6">{{ form.dependants }}</div>
    </div>
</div>
<div class="col-md-4">
    <div class="m-b-md">
        <h3> Co-Applicant </h3>
        <hr />
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_first_name }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_middle_name }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_last_name }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_previous_name }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_mobile_number }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_phone_number }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_email }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_birth_date }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_identification }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {{ form.co_applicant_marital_status }}
        </div>
    </div>
</div>