<div class="col-md-12">
    <div class="m-b-md">
        <h3> Applicant </h3>
        <hr/>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> Special Note 1 </label>
        </div>
        <div class="col-md-4">{{ form.special_note_1 }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> Special Note 2 </label>
        </div>
        <div class="col-md-4">{{ form.special_note_2 }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> Special Note 3 </label>
        </div>
        <div class="col-md-4">{{ form.special_note_3 }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> Special Note 4 </label>
        </div>
        <div class="col-md-4">{{ form.special_note_4 }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> SSN1 </label>
        </div>
        <div class="col-md-4">{{ form.ssn1 }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> SSN2 </label>
        </div>
        <div class="col-md-4">{{ form.ssn2 }}</div>
    </div>
</div>