.project
.pydevproject
__pycache__
/static/
*.pyc
*.pid
*.sock
/media
/bin/
/lib/
/local/
django_app_nginx.conf
/uwsgi_params/
/media/
/.idea/*
/app/build/*
*.iml
/log/*
django_auth_app/migrations/0*
sundog/migrations/0*
local_config.py
import/history/*

# Editor temporary files
.ropeproject
*~
*.sw?

# Docker service persistent data:
/data/

# Local environment variables:
.env

# Docker Compose overrides, mostly symlinked for production:
docker-compose.override.yml
