beautifulsoup4==4.5.1
boto3==1.4.3
brotlipy==0.6.0
cffi==1.9.1
chardet==2.3.0
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.10.4
django-allauth==0.29.0
django-appconf==1.0.2
django-avatar==3.1.0
django-bootstrap-breadcrumbs==0.8.2
django-cleanup==0.4.2
django-colorfield==0.1.11
django-colorful==1.2
django-compressor==2.1
django-crispy-forms==1.6.1
django-htmlmin==0.10.0
django-localflavor==1.3
django-modelcluster==2.0
django-multi-email-field==0.4
django-multiselectfield==0.1.4
django-s3-storage==0.9.11
django-taggit==0.21.3
django-timezone-utils==0.11
django-treebeard==4.1.0
djangorestframework==3.5.3
furl==0.5.6
gunicorn==19.6.0
html5lib==0.999999999
json-logging-py==0.2
mock==2.0.0
numpy==1.11.3
oauthlib==2.0.1
pbr==1.10.0
Pillow==3.4.2
psycopg2==2.6.2
pycparser==2.17
pystache==0.5.4
python-dateutil==2.6.0
python-logstash==0.4.6
python3-openid==3.0.10
pytz==2016.10
rcssmin==1.0.6
requests==2.12.4
requests-oauthlib==0.7.0
rjsmin==1.0.12
six==1.10.0
Unidecode==0.4.19
urllib3==1.19.1
weasyprint==0.33
whitenoise==3.2.2
Willow==0.4
xlrd==1.0.0

git+https://github.com/mgomezch/django-datatable-view@87565dc4ac8252d685339c55206a663b887110c8#egg=django-datatable-view
git+https://github.com/mgomezch/django-fm@3eff0d69df0d166a279a0e489b3fc45cbf766eaf#egg=django-fm
git+https://github.com/mgomezch/django-tinymce@b7c492a25e84ae7bb6580d452f570c49cf15bb1d#egg=django-tinymce
