{% extends "table-view.html" %}

{% load staticfiles %}


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Documents" "document.list" %}
{% endblock %}


{% block title %}
  {{ block.super }} - Documents
{% endblock title %}


{% block table_view_pre_content %}
  <div class="col-xs-12 m-t-md m-b-md">
    <div class="inline"><a class="btn btn-primary" href="{% url "document.add" %}">Add Document</a></div>
  </div>
{% endblock table_view_pre_content %}
