{% extends "app-base.html" %}
{% load  staticfiles my_filters avatar_tags tz %}
{% block content %}
    <!-- PATH GUIDE -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>My Profile</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    Settings
                </li>
                <li class="active">
                    <strong>My Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <!-- PAGE CONTENT -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center">
                    <img alt="profile_image" class="img-circle" src="{% avatar_url user 250 %}" />
                </div>
            </div>
            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a href="{% url 'django_auth_app:profile_edit' %}" class="btn btn-white btn-xs pull-right">Edit profile</a>
                                </div>
                                <h2>Account Information & Settings</h2>
                                <div class="m-t"></div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Username:</label>
                                    {% if user_profile.related_user and user_profile.related_user.username %}
                                        {{user_profile.related_user.username }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email:</label>
                                    {% if user_profile.related_user and user_profile.related_user.email %}
                                        <a href="mailto:{{user_profile.related_user.email}}">{{user_profile.related_user.email}}</a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Timezone:</label>
                                    {% if user_profile.timezone %}
                                        <i class="fa fa-globe"></i> {{user_profile.timezone}}
                                    {% else %}
                                        {% get_current_timezone as TIME_ZONE %}
                                        <i class="fa fa-globe"></i> {{ TIME_ZONE }}
                                    {% endif %}
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="m-t-lg"></div>
                                <h2>Personal Information</h2>
                                <div class="m-t"></div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">First name:</label>
                                    {% if user_profile.first_name %}
                                        {{user_profile.first_name}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Middle name:</label>
                                    {% if user_profile.middle_name %}
                                        {{user_profile.middle_name}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Last name:</label>
                                    {% if user_profile.last_name %}
                                        {{user_profile.last_name}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Birthday:</label>
                                    {% if user_profile.birthday %}
                                        <i class="fa fa-calendar"></i> {{user_profile.birthday | date:'m/d/Y' }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Phone number:</label>
                                    {% if user_profile.phone_number %}
                                        <i class="fa fa-phone"></i> {{ user_profile.phone_number }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Address:</label>
                                    {% if user_profile.address %}
                                        {{user_profile.address}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">City:</label>
                                    {% if user_profile.city %}
                                        {{user_profile.city}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">State:</label>
                                    {% if user_profile.state %}
                                        {{user_profile.state|stateName}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Zip code:</label>
                                    {% if user_profile.zip_code %}
                                        {{user_profile.zip_code}}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                {% comment %}  <div class="form-group">
                            <label class="col-lg-3 control-label">Country:</label>
                            {% if user_profile.country %}
                                {{ user_profile.country }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>{% endcomment %}
                                {% comment %} <div class="hr-line-dashed"></div>
                       <div class="m-t-lg"></div>
                        <h2>Application Information</h2>
                        <div class="m-t"></div>{% endcomment %}
                                {% comment %} <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Web:</label>
                            {% if user_profile.website %}
                                <a href="{{user_profile.website}}">{{user_profile.website}}</a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Social:</label>

                                    <!-- <a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a> -->
                            {% if user_profile.facebook %}<a href="{{user_profile.facebook}}" class="btn btn-xs"><i class="fa fa-facebook  fa-2x"></i></a>{% endif %}
                            {% if user_profile.twitter %}        <a href="{{user_profile.twitter}}" class="btn btn-xs"><i class="fa fa-twitter  fa-2x"></i></a>{% endif %}
                                    <!-- <a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>
                                    <a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a> -->
                            {% if user_profile.linkedin %}<a href="{{user_profile.linkedin}}" class="btn btn-xs"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
                        &nbsp;
                        </div>{% endcomment %}
                                {% comment %}  <div class="form-group">
                            <label class="col-lg-3 control-label">State of interest:</label>
                            {% if user_profile.state_of_interest %}
                                {{user_profile.state_of_interest }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Area of interest:</label>
                            {% if user_profile.area_of_interest %}
                                {{user_profile.area_of_interest }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Communities of interest:</label>
                            {% if user_profile.communities_of_interest.all %}
                                {% for community in user_profile.communities_of_interest.all %}
                                    <span class="m-r">{{community }}</span>
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>{% endcomment %}
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}