{% extends "app-base.html" %}
{% load staticfiles my_filters avatar_tags %}
{% block extrahead %}
<link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
<link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <!-- PATH GUIDE -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Edit Profile</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    Settings
                </li>
                <li class="active">
                    <strong>Edit Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <!-- PAGE CONTENT -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center">
                    <a href="{% url 'django_auth_app:profile_upload_picture' %}"><img alt="profile_image" class="img-circle" src="{% avatar_url user 250 %}" /></a>
                </div>
                <div class="text-center"><small>Click your profile picture to change it.</small></div>
            </div>
            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    <form class="form-horizontal" name="EditProfileForm" action="{% url 'django_auth_app:profile_edit' %}" method="post">
                    {%csrf_token%}
                    <h2>Account Information & Settings</h2>
                    <div class="m-t"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="username">Username:</label>
                        <div class="col-lg-9 controls">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="email">Email:</label>
                        <div class="col-lg-9 controls">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="username">Timezone:</label>
                        <div class="col-lg-9 controls">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                {{ form.timezone|addcss:'form-control' }}
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="m-t-lg"></div>
                    <h2>Personal Information</h2>
                    <div class="m-t"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="first_name">First Name:</label>
                        <div class="col-lg-9 controls">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="middle_name">Middle Name:</label>
                        <div class="col-lg-9 controls">
                            {{ form.middle_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="last_name">Last Name:</label>
                        <div class="col-lg-9 controls">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="phone_number">Phone number:</label>
                        <div class="col-lg-9 controls">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                {{ form.phone_number }}
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="birthday">Birthday:</label>
                        <div class="col-lg-9 controls">
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            {{ form.birthday }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="address">Address:</label>
                        <div class="col-lg-9 controls">
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="city">City:</label>
                        <div class="col-lg-9 controls">
                            {{ form.city }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="state">State:</label>
                        <div class="col-lg-9 controls">
                            {{ form.state }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="zip_code">Zip code:</label>
                        <div class="col-lg-9 controls">
                            {{ form.zip_code }}
                        </div>
                    </div>
                        {% comment %}<div class="form-group">
                        <label class="col-lg-3 control-label" for="country">Country:</label>
                        <div class="col-lg-9 controls">
                            {{ form.country }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="website">Website:</label>
                        <div class="col-lg-9 controls">
                            {{ form.website }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="twitter">Twitter:</label>
                        <div class="col-lg-9 controls">
                            {{ form.twitter }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="facebook">Facebook:</label>
                        <div class="col-lg-9 controls">
                            {{ form.facebook }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="linkedin">Linkedin:</label>
                        <div class="col-lg-9 controls">
                           {{ form.linkedin }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="id_gender_0">Gender:</label>
                        <div class=" col-lg-9 controls">
                            {{ form.gender }}
                        </div>
                    </div>{% endcomment %}
                   {% comment %} <div class="hr-line-dashed"></div>
                    <div class="m-t-lg"></div>
                    <h2>Application Information</h2>
                    <div class="m-t"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="state_of_interest">State of Interest:</label>
                        <div class="col-lg-9 controls">
                            {{ form.state_of_interest }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="area_of_interest">Area of Interest:</label>
                        <div class="col-lg-9 controls">
                            {{ form.area_of_interest }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="communities_of_interest">Communities of Interest:</label>
                        <div class="col-lg-9 controls">
                            {{ form.communities_of_interest }}
                        </div>
                    </div>{% endcomment %}
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-lg-3"></div>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" >
        var form_errors = {{form_errors|jsonify}};
    </script>
    <!-- Data picker -->
    <script src="{% static "js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <!-- Chosen -->
    <script src="{% static "js/plugins/chosen/chosen.jquery.js" %}"></script>
    <!-- Mask -->
    <script src="{% static "js/plugins/mask/jquery.mask.min.js" %}"></script>

    <script src="{% static "js/edit_profile.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ ADDRESS_API_KEY }}&signed_in=true&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}