{% extends "app-base.html" %}
{% load staticfiles my_filters %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'enrollments_list' %}">Enrollments</a>
                </li>
                <li class="active">
                    <strong>Enrollment Plan</strong>
                </li>
            </ol>
        </div>
    </div>
    {% if 'sundog.enrollment__edit_enrollment_plans' in perms %}
    <div class="m-t-md col-xs-12 no-padding-sides">
        <select id="plan-chooser" class="col-xs-2 no-padding-sides">
            {% for plan in plans %}
                <option {% if '' == plan.0 %}selected="selected"{% endif %} value="{{plan.0}}" >{{plan.1}}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div id="add_enrollment_plan" class="form-template col-xs-12 no-padding-sides">
        <form id="enrollment-plan-form" action="{% url 'add_enrollment_plan' %}" method="post">
            <div class="col-xs-12 border-bottom m-b-md m-r-xs p-md no-padding-sides">
                <div class="col-xs-6 no-padding-sides">
                    <h2>Enrollment Program Settings</h2>
                </div>
                <div class="col-xs-6 m-t-md no-padding-sides">
                    <button class="btn btn-primary pull-right" type="submit">Save Plan</button>
                </div>
            </div>
            {% csrf_token %}
            <div class="col-xs-12 no-padding-sides m-b-md">
                <h3>General</h3>
                <div class="col-xs-12 border no-padding-sides">
                    <div class="col-xs-1 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Active</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.active }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">File Type</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.file_type }}
                        </div>
                    </div>
                    <div class="col-xs-3 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Plan Name</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Two Monthly Drafts</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.two_monthly_drafts }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Select First Payment Date</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.select_first_payment }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides m-b-md">
                <h3>Program Length</h3>
                <div class="col-xs-12 border no-padding-sides">
                    <div class="col-xs-2 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Program Length Default</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.program_length_default }}
                        </div>
                    </div>
                    <div class="col-xs-1 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Minimum</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.program_length_minimum }}
                        </div>
                    </div>
                    <div class="col-xs-1 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Maximum</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.program_length_maximum }}
                        </div>
                    </div>
                    <div class="col-xs-1 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Increment</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.program_length_increment }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 no-padding-sides m-b-md">
                <h3>Qualifiers</h3>
                <div class="col-xs-12 border no-padding-sides">
                    <div class="col-xs-12 m-b-xs">
                        <div class="col-xs-2 no-padding-sides">{{ form.debt_amount_flag }}<div class="checkbox-label-after-small inline">Debt Amount</div></div>
                        <div class="col-xs-10 no-padding-sides">{{ form.debt_amount_from }} To {{ form.debt_amount_to }}</div>
                    </div>
                    <div class="col-xs-12 m-b-xs">
                        <div class="col-xs-2 no-padding-sides"><a href="{% url "add_fee_profile" %}">Fee Profile</a></div>
                        <div class="col-xs-10 no-padding-sides">{{ form.fee_profile }}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides m-b-md">
                <h3 class="col-xs-6 no-padding-sides">Fees</h3>
                <div class="col-xs-6 no-padding-sides">
                    <a id="add-second-fee" class="pull-right btn btn-primary" {% if has_second_fee %}style="display: none;"{% endif %}>Add Second Fee</a>
                    <a id="cancel-second-fee" class="pull-right btn btn-primary" {% if not has_second_fee %}style="display: none;"{% endif %}>Remove Second Fee</a>
                </div>
                <div class="col-xs-12 no-padding-sides border m-t-xs">
                    <div class="col-xs-2 m-t-xs m-b-xs no-padding-right">
                        <label class="col-xs-12 no-padding-sides">Active</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form_fee_1.active }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                        <label class="col-xs-12 no-padding-sides">Name</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form_fee_1.name }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                        <label class="col-xs-12 no-padding-sides">Fee Type</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form_fee_1.type }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                        <label class="col-xs-12 no-padding-sides">Amount</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form_fee_1.percentage_amount }}
                            {{ form_fee_1.fixed_amount }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                        <label class="col-xs-12 no-padding-sides">Defer</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form_fee_1.defer }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                        <label class="col-xs-12 no-padding-sides">Discount</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form_fee_1.discount }}
                        </div>
                    </div>
                    <div id="fee-2-data" class="col-xs-12 no-padding-sides border-top m-t-xs" {% if not has_second_fee %}style="display: none;"{% endif %}>
                        <div class="col-xs-2 m-t-xs m-b-xs no-padding-right">
                            <label class="col-xs-12 no-padding-sides">Active</label>
                            <div class="col-xs-12 no-padding-sides">
                                {{ form_fee_2.active }}
                            </div>
                        </div>
                        <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                            <label class="col-xs-12 no-padding-sides">Name</label>
                            <div class="col-xs-12 no-padding-sides">
                                {{ form_fee_2.name }}
                            </div>
                        </div>
                        <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                            <label class="col-xs-12 no-padding-sides">Fee Type</label>
                            <div class="col-xs-12 no-padding-sides">
                                {{ form_fee_2.type }}
                            </div>
                        </div>
                        <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                            <label class="col-xs-12 no-padding-sides">Amount</label>
                            <div class="col-xs-12 no-padding-sides">
                                {{ form_fee_2.percentage_amount }}
                                {{ form_fee_2.fixed_amount }}
                            </div>
                        </div>
                        <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                            <label class="col-xs-12 no-padding-sides">Defer</label>
                            <div class="col-xs-12 no-padding-sides">
                                {{ form_fee_2.defer }}
                            </div>
                        </div>
                        <div class="col-xs-2 m-t-xs m-b-xs no-padding-sides">
                            <label class="col-xs-12 no-padding-sides">Discount</label>
                            <div class="col-xs-12 no-padding-sides">
                                {{ form_fee_2.discount }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding-sides border-top">
                        <div class="col-xs-12 m-b-xs">
                            <div>{{ form.show_fee_subtotal_column }}</div>
                            <div class="checkbox-label-after inline">Show Fee Subtotal Column</div>
                        </div>
                        <div class="col-xs-12 m-b-xs">
                            Notify if fees exceed {{ form.exceed_notification }} % of total debt.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides m-b-md padding-for-footer">
                <h3>Client Savings</h3>
                <div class="col-xs-12 border no-padding-sides">
                    <div class="col-xs-2 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Start</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.savings_start }}
                        </div>
                    </div>
                    <div class="col-xs-2 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">End</label>
                        <div class="col-xs-12 no-padding-sides">
                            {{ form.savings_end }}
                        </div>
                    </div>
                    <div class="col-xs-4 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Adjustment</label>
                        <div class="col-xs-12 no-padding-sides">
                            <div>{{ form.savings_adjustment }}</div>
                            <div class="checkbox-label-after-small inline">
                                Adjust Monthly Savings To Make Total Payment Consistent
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 m-t-xs m-b-xs">
                        <label class="col-xs-12 no-padding-sides">Show Accumulation</label>
                        <div class="col-xs-12 no-padding-sides">
                            <div>{{ form.show_savings_accumulation }}</div>
                            <div class="checkbox-label-after-small inline">
                                Show A Column With The Savings Accumulation Balance
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var formErrors = {{ form_errors|jsonify }};
        var hasSecondFee = {% if has_second_fee %} true {% else %} false {% endif %};
        var addEnrollmentPlanUrl = "{% url "add_enrollment_plan" %}";
        var editEnrollmentPlanUrl = "{% url "edit_enrollment_plan" enrollment_plan_id=0 %}";
        var fixedValues = {{ fixed_values|safe }};
    </script>
    <script src="{% static "js/enrollment/enrollment_plan.js" %}"></script>

{% endblock content %}