{% extends 'base.html' %}
{% load staticfiles my_filters %}
{% block title %}Performance Settlement | Login{% endblock title %}
{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="text-center">
                    <div class="logo-name">
                        <h1 class="logo-name">Performance Settlement</h1>
                    </div>
                </div>
                <div class="col-xs-offset-4 col-xs-4 ibox-content">
                    <div class="row">
                        <div class="p-w-md">
                            <h3 class="m-t-none m-b">Sign in</h3>
                            <form role="form" name="LoginForm" action="{% url 'django_auth_app:login' %}" method="post">
                                {% csrf_token %}
                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}" />
                                {% endif %}
                                <div class="form-group"><label>Username</label> <input type="text" placeholder="Enter username" class="form-control" required="" id="username" name="username"></div>
                                <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control" required="" id="password" name="password"></div>
                                <div class="form-group">
                                    <input id="remember-me" name="remember-me" type="checkbox" class="vertical-align no-margins">
                                    <label for="remember-me">Remember me</label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary pull-right m-b" type="submit"><strong>Log in</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- custom scripts -->
    <script type="text/javascript" >
        var form_errors = {{ form_errors|jsonify }};
    </script>
    <script src="{% static "js/plugins/jstz-1.0.4.min.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
{% endblock content %}