{% extends 'base.html' %}
{% load staticfiles my_filters %}
{% block title %}Performance Settlement | Login{% endblock title %}
{% block content %}

<body class="gray-bg">
    <div class="text-center">
        <div class="logo-name">
            <h1 class="logo-name">Performance Settlement</h1>
        </div>
    </div>
    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">

                <div class="ibox-content">

                    <h2 class="font-bold">Forgot password</h2>

                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form id="recover-form"class="m-t" role="form" name="RecoverForm" action="{% url 'django_auth_app:recover' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address" required="" id="email" name="email">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Send recovery email</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="text-align:center;padding:10px;">
                <a href="{% url 'index' %}" style="">Back to Index</a>
            </div>
        </div>
        <hr/>
       <!-- <div class="row">
            <div class="col-md-6">
                Company
            </div>
            <div class="col-md-6 text-right">
               <small>© 2015</small>
            </div>
        </div>-->
    </div>


<script type="text/javascript">
$(document).ready(function() {
    $("form#recover-form").submit(function() {
        $('button[type=submit], input[type=submit]').attr('disabled',true);
        $('a').attr('disabled', 'disabled');
        return true;
    });
    showErrorPopup({{ form_errors|jsonify }});

});
</script>

{% endblock content %}