{% extends "sundog/base/table.html" %}

{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Contacts" "contacts" %}
{% endblock %}


{% block title %}
  {{ block.super }}
  - Contacts
{% endblock title %}


{% block table_view_pre_content %}
  <div class="col-xs-12 m-t-md m-b-md">
    <div class="inline m-r-lg">
      <select id="list-chooser" style="width: 200px;">
        {% for list, label in list_labels %}
          <option
            value="{{ list }}"
            {% if list == selected_list %}selected="selected"{% endif %}
          >
            {{ label }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="inline"><a class="btn btn-primary" href="{% url 'new_list' %}">New List</a></div>
    <div class="inline"><a class="btn btn-primary" href="{% url 'add_contact' %}">Add a Contact</a></div>
    <div class="inline"><a class="btn btn-primary" href="{% url 'workflows' %}">Workflow</a></div>
    <div class="inline"><a class="btn btn-primary" href="{% url 'campaigns' %}">Campaigns</a></div>
    <div class="inline"><a class="btn btn-primary" href="{% url 'data_sources' %}">Data Sources</a></div>
  </div>
{% endblock table_view_pre_content %}


{% block table_view_post_content %}
  <script type="text/javascript">
    var contacts_list_url = '{% url 'list_contacts' %}';
  </script>
  <script src="{% static "js/contact/contact_list.js" %}"></script>
{% endblock table_view_post_content %}
