{% load staticfiles my_filters admin_urls %}
<div class="col-xs-12 m-t-md" style="padding-bottom: 70px;">
    <div class="m-b-md">
        <button id="add-note-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-note">Add Note</button>
        <button id="add-call-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-call">Log A Call</button>
        <button id="add-email-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-email">Send An Email</button>
    </div>
    <h3>Activity Feed</h3>
    <table class="col-xs-12 m-b-xs">
        <tbody>
        {% for activity in activities %}
            {# TODO: Add detail on click #}
            <tr class="activity-row">
                <td class="col-xs-2 text-right">
                    <p class="text-center activity-type" style="background: {{ activity.get_color }}">{{ activity.get_type }}</p>
                </td>
                <td class="col-xs-3">
                    <p class="m-b-none">{{ activity.created_at|date:'SHORT_DATETIME_FORMAT' }}</p>
                    <p class="font-bold m-b-none">{{ activity.created_by.get_full_name }} - {{ activity.created_by.username }}</p>
                </td>
                <td class="col-xs-7">{{ activity.description|cut_string_at }}</td>
            </tr>
        {% endfor %}
        {% if not activities %}
            <tr>
                <td class="text-center border-bottom p-xs" colspan="12">No Activities to display.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>