{% load staticfiles my_filters %}
<div class="col-xs-12">
    <div class="col-xs-12 no-padding-sides m-b-xs m-t-xs">
        <h3 class="pull-left">Enrolled Debts</h3>
        <a class="btn btn-default pull-right" href="{% url 'contact_debts' contact_id=contact.contact_id %}">Edit Debts</a>
        <a class="btn btn-default pull-right m-r-xs">Pull Sharper Lending Report</a>
    </div>
    <div class="col-xs-12 no-padding-sides">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Creditor</th>
                    <th>Account #</th>
                    <th>Current Debt</th>
                    <th>Whose Debt</th>
                    <th>Current Payment</th>
                    <th>Settlement</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for debt in enrolled_debts %}
                <tr>
                    <td><img src="{{STATIC_URL}}img/bullet_green.png"></td>
                    <td>{{ debt.original_creditor }}</td>
                    <td>{{ debt.original_creditor_account_number }}</td>
                    <td>{{ debt.current_debt_amount|currency }}</td>
                    <td>{{ debt.whose_debt_label }}</td>
                    <td>{{ debt.current_payment|currency }}</td>
                    <td>{{ debt.settlement }}</td>
                    <td><a>Add note</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="table-footer-cell"></td>
                    <td class="table-footer-cell"></td>
                    <td class="table-footer-cell"></td>
                    <td class="table-footer-cell"><strong>{{ contact.total_enrolled_current_debts }}</strong></td>
                    <td class="table-footer-cell"></td>
                    <td class="table-footer-cell"><strong>{{ contact.total_enrolled_current_payments }}</strong></td>
                    <td class="table-footer-cell"></td>
                    <td class="table-footer-cell"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="col-xs-12">
    <h3 class="m-b-xs">Not Enrolled Debts</h3>
    <div class="col-xs-12 no-padding-sides">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Creditor</th>
                <th>Account #</th>
                <th>Current Debt</th>
                <th>Whose Debt</th>
                <th>Current Payment</th>
                <th>Settlement</th>
            </tr>
            </thead>
            <tbody>
            {% for debt in not_enrolled_debts %}
                <tr>
                    <td><img src="{{STATIC_URL}}img/bullet_red.png"></td>
                    <td>{{ debt.original_creditor }}</td>
                    <td>{{ debt.original_creditor_account_number }}</td>
                    <td>{{ debt.current_debt_amount|currency }}</td>
                    <td>{{ debt.whose_debt_label }}</td>
                    <td>{{ debt.current_payment|currency }}</td>
                    <td>{{ debt.settlement }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="table-footer-cell"></td>
                <td class="table-footer-cell"></td>
                <td class="table-footer-cell"></td>
                <td class="table-footer-cell"><strong>{{ contact.total_not_enrolled_current_debts|currency }}</strong></td>
                <td class="table-footer-cell"></td>
                <td class="table-footer-cell"><strong>{{ contact.total_not_enrolled_current_payments|currency }}</strong></td>
                <td class="table-footer-cell"></td>
                <td class="table-footer-cell"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="col-xs-12">
    <h3 class="m-b-xs">Settled Debts</h3>
    <div class="col-xs-12 no-padding-sides border-top">
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Average</div>
            <div class="blue font-medium font-bold">{{ contact.average_settled|percent }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Highest</div>
            <div class="blue font-medium font-bold">{{ contact.highest_settled|percent }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Lowest</div>
            <div class="blue font-medium font-bold">{{ contact.lowest_settled|percent }}</div>
        </div>
    </div>
    <div class="col-xs-12 no-padding-sides">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Creditor</th>
                <th>Account #</th>
                <th>Debt Buyer</th>
                <th>Current Debt</th>
                <th>Settlement Date</th>
                <th>Settlement Amount</th>
                <th>Percent</th>
                <th>Settled By</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>