{% extends "app-base.html" %}
{% load staticfiles my_filters admin_urls %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url "list_contacts" %}">Contacts</a>
                </li>
                <li>
                    <a href="{% url "contact_dashboard" contact_id=contact.contact_id %}">{{ contact.full_name_straight }}</a>
                </li>
                <li class="active">
                    <strong>New Enrollment Plan</strong>
                </li>
            </ol>
        </div>
    </div>
    <form id="enrollment-form" class="col-xs-12 m-t-md" action="{% url "add_contact_enrollment" contact_id=contact.contact_id %}" method="post">
        {% csrf_token %}
        {{ form.contact }}
        <h3>Debt Settlement Enrollment Plan</h3>
        <div class="col-xs-12 p-xs well">
            <div class="col-xs-10 no-padding-sides">
                <div class="col-xs-12 no-padding-sides">
                    <a href="{% url "contact_dashboard" contact_id=contact.contact_id %}" class="underlined">{{ contact.full_name_straight }}</a>
                    {% if contact.state %}<div class="bold"> - - {{ contact.state }}</div>{% endif %}
                </div>
                <div class="col-xs-12 no-padding-sides green">Available Monthly: {{ contact.available_monthly|currency }} / mo.</div>
            </div>
            <div class="col-xs-2 no-padding-sides">
                <button id="enrollment-form-submit" type="button" class="btn btn-primary pull-right">Save Enrollment Plan</button>
            </div>
        </div>
        <div class="col-xs-4 no-padding-left">
            <div class="col-xs-12 no-padding-sides">
                <h4>Program Checklist</h4>
                <div class="border col-xs-12 p-xs">
                    {% if contact.bank_account.info_complete %}
                    <span class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                    {% endif %} Bank Account Saved
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides">
                <h4>Enrollment Plans</h4>
                <div class="border col-xs-12 m-b-xs p-xs">
                    <div class="col-xs-12 no-padding-sides m-b-xs">
                        <label for="base-plan-chooser">Choose Base Plan</label>
                        {{ form.enrollment_plan }}
                    </div>
                    <div id="edit-program-length-container" class="col-xs-12 no-padding-sides m-b-xs" style="display: none;">
                        <label for="id_program_length">Edit Program Length</label>
                        <select id="id_program_length" name="program_length">
                        </select>
                    </div>
                    <div id="fees" class="col-xs-12 no-padding-sides"></div>
                </div>
                {% if plan.select_first_payment %}
                <div id="first-payment-date" class="col-xs-12 no-padding-sides" style="display: none;">
                    <h4>First Payment Date</h4>
                    {{ form.first_date }}
                </div>
                {% endif %}
                <div class="col-xs-12 no-padding-sides">
                    <h4>Recurrent Start Date</h4>
                    {{ form.start_date }}
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides">
                <h4>Custodial Account</h4>
                <div class="border col-xs-12 m-b-xs p-xs">
                    {{ form.custodial_account }}
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides">
                <h4>Choose Comp Template</h4>
                <div class="border col-xs-12 m-b-xs p-xs">
                    {{ form.comp_template_chooser }}
                </div>
            </div>
        </div>
        <div class="col-xs-8 no-padding-sides">
            <h4>Program Snapshot</h4>
            <div id="totals" class="col-xs-12 border p-xs">
                <div class="inline m-r-md">
                    <div class="m-b-xs font-bold">Total Debt</div>
                    <div id="total-debt" class="blue font-medium font-bold">{{ contact.total_enrolled_current_debts|currency }}</div>
                </div>
                <div class="inline m-r-md">
                    <div class="m-b-xs font-bold">Est. Sett. Dollars</div>
                    <div id="est-sett-dollars" class="blue font-medium font-bold">{{ contact.est_sett|currency }}</div>
                </div>
                <div class="inline m-r-md">
                    <div class="m-b-xs font-bold">Total Fees</div>
                    <div id="total-fees" class="blue font-medium font-bold">$0.00</div>
                </div>
                <div class="inline m-r-md">
                    <div class="m-b-xs font-bold">Est. Client Savings</div>
                    <div id="est-client-savings" class="font-medium green font-bold">{{ contact.total_enrolled_current_debts|minus:contact.est_sett|currency }}</div>
                    <div id="est-client-savings-with-no-fees" style="display: none;">{{ contact.total_enrolled_current_debts|minus:contact.est_sett|currency }}</div>
                </div>
            </div>
            <div class="col-xs-12 border no-padding-sides m-t-xs">
                <h4 class="m-l-xs">Choose Debts To Enroll</h4>
                <table id="debts-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Creditor</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Est Settlement</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for debt in debts %}
                        <tr id="{{ debt.debt_id }}" {% if debt.enrolled %}class="enrolled"{% endif %}>
                            <td><input type="checkbox" class="debt" id="debt-{{ debt.debt_id }}-enroll-check" {% if debt.enrolled %}checked="checked"{% endif %}></td>
                            <td>{% if debt.original_creditor %} {{ debt.original_creditor.name }} {% endif %}</td>
                            <td>{% if debt.account_type_label %} {{ debt.account_type_label }} {% endif %}</td>
                            <td>{% if debt.original_debt_amount %} {{ debt.original_debt_amount|currency }} {% endif %}</td>
                            <td>{% if debt.original_creditor %} {{ debt.original_debt_amount|multiply:0.4|currency }} {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="payments" class="col-xs-12 border no-padding-sides m-t-xs padding-for-footer">
                <h4 class="m-l-xs">Payment Schedule</h4>
                <table id="payments-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th class="savings">Savings</th>
                            <th>Total Payment</th>
                            <th>Acct Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr class="bold">
                            <td class="pre-totals-column" colspan="2"></td>
                            <td class="footer-total-savings"></td>
                            <td class="footer-total-payment"></td>
                            <td class="footer-total-acct"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </form>
    <script src="{% static "js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript" >
        var csrfToken = "{{ csrf_token }}";
        var getEnrollmentPlanInfoUrl = "{% url "get_enrollment_plan_info" contact_id=contact.contact_id enrollment_plan_id=0 %}";
        var getDebtsInfoUrl = "{% url "get_debts_info" contact_id=contact.contact_id %}";
        var enrollmentsUrl = "{% url "enrollments_list" %}";
    </script>
    <script src="{% static "js/contact/add_contact_enrollment.js" %}"></script>
{% endblock %}