{% extends "app-base.html" %}
{% load staticfiles my_filters admin_urls %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url "list_contacts" %}">Contacts</a>
                </li>
                <li>
                    <a href="{% url "contact_dashboard" contact_id=contact.contact_id %}">{{ contact.full_name_straight }}</a>
                </li>
                <li class="active">
                    <strong>Monthly Budget Analysis</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xs-12 m-t-md border-bottom p-xs">
        <h3>
            Monthly Budget Analysis For:
            <a href="{% url "contact_dashboard" contact_id=contact.contact_id %}" class="underlined" title="Back to Dashboard">
                {{ contact.full_name_straight }}
            </a>
        </h3>
    </div>
    <div class="col-xs-12 border-bottom p-xs">
        <div id="totals" class="col-xs-6 no-padding-sides">
            <div class="inline m-r-md">
                <div class="m-b-xs font-bold">Total Income</div>
                <div id="incomes-total" class="blue font-medium font-bold">{{ incomes_total|currency }}</div>
            </div>
            <div class="inline m-r-md">
                <div class="m-b-xs font-bold">Total Expenses</div>
                <div id="expenses-total" class="blue font-medium font-bold">{{ expenses_total|currency }}</div>
            </div>
            <div class="inline m-r-md">
                <div class="m-b-xs font-bold">DTI</div>
                <div id="dti" class="blue font-medium font-bold">{{ dti|percent }}</div>
            </div>
            <div class="inline m-r-md">
                <div class="m-b-xs font-bold">Cash Flow</div>
                <div id="cash-flow" class="font-medium font-bold {% if cash_flow < 0 %}red{% else %}green{% endif %}">{{ cash_flow|currency }}</div>
            </div>
            <div class="inline">
                <div class="m-b-xs font-bold">Total Assets</div>
                <div id="assets-total" class="blue font-medium font-bold">{{ assets|currency }}</div>
            </div>
        </div>
        <div class="col-xs-6 no-padding-sides">
            {% if 'sundog.enrollment__delete_income_report' in perms %}
            <a id="budget-delete" href="{% url "delete_budget_analysis" contact_id=contact.contact_id %}" class="btn btn-danger pull-right m-t-xs">Delete</a>
            {% endif %}
        </div>
    </div>
    <div id="budget" class="col-xs-12 p-xs padding-for-bottom" style="padding-bottom: 70px;">
        <form id="budget-form" class="form col-xs-12 no-padding-sides" action="{% url 'budget_analysis_save' contact_id=contact.contact_id %}" method="post">
            {% csrf_token %}
            <div class="col-xs-12 col-lg-6 no-padding-left">
                {% include "contact/partials/budget_analysis/incomes_form_fields.html" %}
            </div>
            <div class="col-xs-12 col-lg-6 no-padding-sides">
                {% include "contact/partials/budget_analysis/expenses_form_fields.html" %}
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var csrfToken = "{{ csrf_token }}";
        var editPermission = {% if 'sundog.enrollment__edit_income_report' in perms %}true{% else %}false{% endif %};
    </script>
    <script src="{% static "js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/contact/budget_analysis.js" %}"></script>
{% endblock %}