{% extends "app-base.html" %}
{% load staticfiles my_filters %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}

    <div class="project-list">
        <table id="dataTable" class="table table-hover dataTable no-footer">
            <thead>
                <tr>

                </tr>
            </thead>
            <tbody>
            {% if page_obj.object_list %}
                {% for result in page_obj.object_list %}
                    <tr>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7"><strong>No data to display!</strong></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock content %}