{% extends "sundog/base/table.html" %}

{% load staticfiles my_filters %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Contacts" "list_contacts" %}
    {% breadcrumb contact.full_name_straight "contact_dashboard" %}
    {% breadcrumb "Debts" "" %}
{% endblock %}

{% block title %}
    {{ block.super }} - Debts
{% endblock title %}

{% block table_view_pre_content %}
    <div id="totals" class="col-xs-12 p-xs no-padding-sides m-b-md border-bottom">
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Total Accounts</div>
            <div class="blue font-medium font-bold">{{ contact.debts_count }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Current Debt Amount</div>
            <div id="current-debt-amount" class="blue font-medium font-bold">{{ contact.total_enrolled_current_debts|currency }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Original Debt Amount</div>
            <div id="original-debt-amount" class="blue font-medium font-bold">{{ contact.total_enrolled_original_debts|currency }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Total Current Payments</div>
            <div id="current-payment" class="blue font-medium font-bold">{{ contact.total_enrolled_current_payments|currency }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Total Settled</div>
            <div class="blue font-medium font-bold">{{ contact.total_settled|currency }}</div>
        </div>
        <div class="inline">
            <div class="m-b-xs font-bold">Client Balance</div>
            <div class="blue font-medium font-bold">{{ contact.client_balance|currency }}</div>
        </div>
        <div class="inline pull-right m-t-xs">
            <a class="btn btn-primary" href="{% url "add_debt" contact_id=contact.contact_id %}">Add Debt</a>
        </div>
    </div>
{% endblock %}

{% block table_view_post_content %}
    <script type="text/javascript">
        var editDebtEnrolledUrl = "{% url "edit_debt_enrolled" contact_id=contact.contact_id %}";
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static "js/datatables_style.js" %}"></script>
    <script src="{% static "js/contact/contact_debts.js" %}"></script>
{% endblock table_view_post_content %}