{% extends "app-base.html" %}
{% load staticfiles my_filters admin_urls %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/morris/morris-0.4.3.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/dataTables/dataTables.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/dataTables/dataTables.responsive.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="">Contacts</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xs-12 m-t-md m-b-md">
        <div class="inline m-r-lg">
            <select id="list-chooser" style="width: 200px;">
                {% for list in lists %}
                    <option value="{{list.1}}" {% if list.1 == selected_list %}selected="selected"{% endif %}>{{list.0}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="inline"><a class="btn btn-primary" href="{% url 'new_list' %}">New List</a></div>
        <div class="inline"><a class="btn btn-primary" href="{% url 'add_contact' %}">Add a Contact</a></div>
        <div class="inline"><a class="btn btn-primary" href="{% url 'workflows' %}">Workflow</a></div>
        <div class="inline"><a class="btn btn-primary" href="{% url 'campaigns' %}">Campaigns</a></div>
        <div class="inline"><a class="btn btn-primary" href="{% url 'data_sources' %}">Data Sources</a></div>
    </div>
    <div class="hidden">
        <form id="search-form" action="{% url 'list_contacts' %}" method="get">
            <input type="hidden" name="page" value="{{ page.number }}"/>
        </form>
    </div>
    <div class="contact-list">
        <table id="dataTable" class="table table-hover dataTable no-footer">
            <thead>
            <tr>
                <th class="{{ sort|get_sort_class:'type' }}"><a href="?order_by={{ order_by_list.0 }}">Type</a></th>
                <th class="{{ sort|get_sort_class:'created_at' }}"><a href="?order_by={{ order_by_list.1 }}">Created</a></th>
                <th class="{{ sort|get_sort_class:'company' }}"><a href="?order_by={{ order_by_list.2 }}">Company</a></th>
                <th class="{{ sort|get_sort_class:'assigned_to' }}"><a href="?order_by={{ order_by_list.3 }}">Assigned To</a></th>
                <th class="{{ sort|get_sort_class:'last_name,first_name' }}"><a href="?order_by={{ order_by_list.4 }}">Full Name</a></th>
                <th class="{{ sort|get_sort_class:'phone_number' }}"><a href="?order_by={{ order_by_list.5 }}">Home Phone</a></th>
                <th class="{{ sort|get_sort_class:'email' }}"><a href="?order_by={{ order_by_list.6 }}">Email</a></th>
                <th class="{{ sort|get_sort_class:'stage' }}"><a href="?order_by={{ order_by_list.7 }}">Stage</a></th>
                <th class="{{ sort|get_sort_class:'status' }}"><a href="?order_by={{ order_by_list.8 }}">Status</a></th>
                <th class="sorting"><a href="">Data Source</a></th>
                <th class="sorting"><a href="">Last Call Activity</a></th>
                <th class="sorting"><a href="">Time in Status</a></th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if page.object_list %}
                {% for result in page.object_list %}
                    <tr>
                        <td>Debt Settlement</td>
                        <td>{% if result.created_at|date:'SHORT_DATETIME_FORMAT' %}{{ result.created_at }}{% endif %}</td>
                        <td>{% if result.company %}{{ result.company }}{% endif %}</td>
                        <td>{% if result.assigned_to %}{{ result.assigned_to }}{% endif %}</td>
                        <td>{% if result.full_name %}{{ result.full_name }}{% endif %}</td>
                        <td>{% if result.phone_number %}{{ result.phone_number }}{% endif %}</td>
                        <td>{% if result.email %}{{ result.email }}{% endif %}</td>
                        <td id="{{ result.contact_id }}-stage">{% if result.stage %}{{ result.stage }}{% endif %}</td>
                        <td id="{{ result.contact_id }}-status" value="{{ result.status.status_id }}">{% if result.status %}{{ result.status }}{% endif %}</td>
                        <td>{# TODO: add data source info #}</td>
                        <td>{# TODO: add last call Activity #}</td>
                        <td>{# TODO: add time in status #}</td>
                        <td class="contact-actions">
                            <a id="{{ result.contact_id }}-edit-contact-status" href="{% url 'edit_contact_status' contact_id=result.contact_id %}" class="edit-contact-status"><span title="Edit Status" class="glyphicon glyphicon-th"></span></a>
                            <a id="{{ result.contact_id }}-edit-contact-info" href="{% url 'edit_contact' contact_id=result.contact_id %}" class="edit-contact-info"><span title="Edit Info" class="glyphicon glyphicon-edit"></span></a>
                            <a id="{{ result.contact_id }}-contact-dashboard" href="{% url 'contact_dashboard' contact_id=result.contact_id %}" class="contact-dashboard"><span title="Dashboard" class="glyphicon glyphicon-arrow-right"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12"><strong>No contacts to display!</strong></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="ibox-footer">
        {% if page.object_list %}
            <div class="text-center">
                <div class="btn-group">
                    <button class="btn btn-white prev-page" type="button" {% if page.number == 1 %}
                            disabled="disabled"
                    {% endif %} ><i class="fa fa-chevron-left"></i></button>
                    {% for number in paginator|paginatorRange:page.number %}
                        {% if number == page.number %}
                            <button class="btn btn-white active">{{ number }}</button>
                        {% else %}
                            <button class="btn btn-white move-page">{{ number }}</button>
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-white next-page" type="button" {% if page.number == paginator.num_pages %}
                            disabled="disabled"
                    {% endif %}><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="col-xs-12 m-t-sm">
                    {{ page.object_list|length }} of {{ paginator.count }}
                </div>
            </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        var contacts_list_url = '{% url 'list_contacts' %}';
    </script>
    <script src="{% static "js/contact/contact_list.js" %}"></script>
{% endblock %}