{% extends "app-base.html" %}
{% load staticfiles my_filters admin_urls %}
{% block extrahead %}
    <link href="{% static "css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/morris/morris-0.4.3.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/dataTables/dataTables.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/dataTables/dataTables.responsive.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <script src="{% static "js/plugins/ckeditor/ckeditor.js" %}"></script>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-xs-12 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a id="list-contacts-link" href="{% url 'list_contacts' %}">Contacts</a>
                </li>
                <li class="active">
                    <strong>{{ contact.full_name_straight }}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xs-12 m-t-md m-b-md">
        <div class="inline"><a class="btn btn-primary" href="{% url "edit_contact" contact_id=contact.contact_id %}">Edit</a></div>
        <div class="inline"><a id="delete-contact" class="btn btn-primary" href="{% url "delete_contact" contact_id=contact.contact_id %}">Delete</a></div>
        <div class="inline"><a class="btn btn-primary" href="{% url "budget_analysis" contact_id=contact.contact_id %}">Budget Analysis</a></div>
        <div class="inline"><a class="btn btn-primary" href="{% url "contact_debts" contact_id=contact.contact_id %}">Creditors</a></div>
    </div>
    <div class="col-xs-4">
        <div class="col-xs-12 m-b-md well">
            <div>
                <h2 class="m-t-none">{{ contact.full_name_straight }}</h2>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-6 text-left">
                    <div>{{ contact.type }}</div>
                    <div>{{ contact.stage }}: {{ contact.status }}</div>
                </div>
                <div class="col-xs-6 text-right">
                    <div><span class="label label-default"><span class="glyphicon glyphicon-time m-r-xs"></span>{{ contact.get_time_in_status }}</span></div>
                </div>
            </div>
            <div class="col-xs-12 no-padding-sides m-b-md border-bottom" style="padding-bottom: 15px;">
                <a class="btn btn-sm btn-success" href="{% url 'edit_contact_status' contact_id=contact.contact_id %}">Update status</a>
            </div>
            <div class="col-xs-12 no-padding-sides m-b-md border-bottom" style="padding-bottom: 15px;">
                <div class="col-xs-4">Customer ID</div>
                <div class="col-xs-8 m-b-md">{{ contact.contact_id }}</div>
                <div class="col-xs-4">Assigned Company</div>
                <div class="col-xs-8">{{ contact.company }}</div>
            </div>
            <div>
                <div class="col-xs-4">Created At</div>
                <div class="col-xs-8">{{ contact.created_at|date:'SHORT_DATETIME_FORMAT' }}</div>
                <div class="col-xs-4">Modified At</div>
                <div class="col-xs-8">
                    {% if contact.updated_at != contact.created_at %}{{ contact.updated_at|date:'SHORT_DATETIME_FORMAT' }}{% else %}Never{% endif %}
                </div>
                <div class="col-xs-4">Assigned To</div>
                <div class="col-xs-8">{% if contact.assigned_to %}{{ contact.assigned_to }}{% else %}&nbsp;{% endif %}</div>
                <div class="col-xs-4">Data Source</div>
                <div class="col-xs-8">&nbsp;</div>
                <div class="col-xs-4">Campaign</div>
                <div class="col-xs-8">&nbsp;</div>
                <div class="col-xs-4">SSN</div>
                <div class="col-xs-8">{% if contact.identification %}{{ contact.identification }}{% else %}&nbsp;{% endif %}</div>
                <div class="col-xs-4">Birthday</div>
                <div class="col-xs-8">{% if contact.birth_date %}{{ contact.birth_date }}{% else %}&nbsp;{% endif %}</div>
                <div class="col-xs-4">Home Phone</div>
                <div class="col-xs-8">{% if contact.phone_number %}{{ contact.phone_number }}{% else %}&nbsp;{% endif %}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <h3 class="border-bottom">Additional Information</h3>
            <div>
                <div class="col-xs-4">Lead Source:</div>
                <div class="col-xs-8">{{ contact.lead_source }}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 m-t-md m-b-md">
        <div id="buttons" class="m-b-md">
            <a id="activity-btn" class="btn btn-primary inline dashboard-button" href="">Activity</a>
            <a id="docs-btn" class="btn btn-default inline dashboard-button" href="">Docs</a>
            <a id="bank-account-btn" class="btn btn-default inline dashboard-button" href="">Bank Account</a>
            <a id="debts-btn" class="btn btn-default inline dashboard-button" href="">Debts</a>
        </div>
        <div id="contents" class="col-xs-12 no-padding-sides border padding-for-footer">
            <div id="activity" style="display: none;">
                {% include 'contact/partials/contact_dashboard/activity_list.html' %}
            </div>
            <div id="bank-account" style="display: none;">
                {% include 'contact/partials/contact_dashboard/bank_account_form.html' %}
            </div>
            <div id="docs" style="display: none;">
                {% include 'contact/partials/contact_dashboard/documents_list.html' %}
            </div>
            <div id="debts" style="display: none;">
                {% include 'contact/partials/contact_dashboard/debts.html' %}
            </div>
        </div>
    </div>
    <div id="modals">
        {% include "contact/partials/contact_dashboard/add_note_modal.html" %}
        {% include "contact/partials/contact_dashboard/add_call_modal.html" %}
        {% include "contact/partials/contact_dashboard/add_email_modal.html" %}
        {% include "contact/partials/contact_dashboard/upload_files_modal.html" %}
    </div>
    <script type="text/javascript">
        var csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static "js/contact/contact_dashboard.js" %}"></script>

{% endblock %}