{% extends "app-base.html" %}
{% load staticfiles my_filters %}
{% block content %}
    <script src="{% static "js/plugins/ckeditor/ckeditor.js" %}"></script>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-xs-12 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a id="list-contacts-link" href="{% url 'list_contacts' %}">Contacts</a>
                </li>
                <li>
                    <a id="list-contact-dashboard-link" href="{% url 'contact_dashboard' contact_id=contact.contact_id %}">{{ contact.full_name_straight }}</a>
                </li>
                <li class="active">
                    <strong>Enrollment Details</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xs-12 m-t-md">
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-payment">Add Payment</button>
    </div>
    <div id="totals" class="col-xs-12 border p-xs m-t-md">
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Gateway</div>
            <div id="total-debt" class="blue font-medium font-bold">{{ enrollment.custodial_account_label }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Payments</div>
            <div id="est-sett-dollars" class="blue font-medium font-bold">{{ enrollment.payments_made }}/{{ enrollment.payments_count }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Client Balance</div>
            <div id="total-fees" class="blue font-medium font-bold">$0.00</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Pending Balance</div>
            <div id="total-fees" class="blue font-medium font-bold">$0.00</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Deferred Fees</div>
            <div id="total-fees" class="blue font-medium font-bold">$0.00</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Sett Commit</div>
            <div id="total-fees" class="blue font-medium font-bold">{{ enrollment.total_payment|currency }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Total Fee's Paid</div>
            <div id="total-fees" class="blue font-medium font-bold">$0.00</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Fees Taken</div>
            <div id="total-fees" class="blue font-medium font-bold">{{ enrollment.fees_made }}/{{ enrollment.fees_count }}</div>
        </div>
        <div class="inline m-r-md">
            <div class="m-b-xs font-bold">Returns</div>
            <div id="total-fees" class="blue font-medium font-bold">0</div>
        </div>
    </div>
    <div class="col-xs-12 no-padding-sides m-t-md padding-for-footer">
        <table id="debts-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Active</th>
                    <th>Processed</th>
                    <th>Process Date</th>
                    <th>Cleared Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Trans ID</th>
                    <th>Memo</th>
                    <th>Payee</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr id="{{ payment.payment_id }}">
                    <td class="active"><span class="glyphicon glyphicon-asterisk {% if payment.active %}green{% else %}red{% endif %}"></span></td>
                    <td><span class="glyphicon glyphicon-asterisk {% if payment.cleared_date %}green{% else %}orange{% endif %}"></span></td>
                    <td class="date">{{ payment.date|date:'SHORT_DATE_FORMAT' }}</td>
                    <td>{{ payment.cleared_date|date:'SHORT_DATE_FORMAT'|default:'' }}</td>
                    <td class="amount" val="{% if payment.amount %}{{ payment.amount }}{% endif %}">{{ payment.amount|currency }}</td>
                    <td class="type" val="{{ payment.type|default:'' }}">{{ payment.type_label|default:payment.type }}</td>
                    <td class="hidden sub_type">{% if payment.sub_type %}{{ payment.sub_type }}{% endif %}</td>
                    <td class="hidden action">{% if payment.action %}{{ payment.action }}{% endif %}</td>
                    <td>{% if payment.trans_id %}{{ payment.trans_id }}{% endif %}</td>
                    <td class="memo" val="{% if payment.memo %}{{ payment.memo }}{% endif %}">{% if payment.memo %}{{ payment.memo_label }}{% endif %}</td>
                    <td>{% if payment.payee %}{{ payment.payee.name }}{% endif %}</td>
                    <td>{% if payment.status %}{{ payment.status_label }}{% endif %}</td>
                    <td class="hidden enrollment">{{ payment.enrollment.enrollment_id|default:'' }}</td>
                    <td class="hidden account_number">{{ payment.account_number|default:'' }}</td>
                    <td class="hidden routing_number">{{ payment.routing_number|default:'' }}</td>
                    <td class="hidden account_type">{{ payment.account_type|default:'' }}</td>
                    <td class="hidden associated_settlement">{{ payment.associated_settlement|default:'' }}</td>
                    <td class="hidden associated_payment">{{ payment.associated_payment|default:'' }}</td>
                    <td class="hidden address">{{ payment.address|default:'' }}</td>
                    <td class="hidden paid_to">{{ payment.paid_to|default:'' }}</td>
                    <td class="hidden payee">{{ payment.payee|default:'' }}</td>
                    <td><a href="" class="edit-payment"><span class="glyphicon glyphicon-edit"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modals">
        {% include "contact/partials/enrollment_details/add_payment_modal.html" %}
        {% include "contact/partials/enrollment_details/edit_payment_modal.html" %}
    </div>

    <script src="{% static "js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/contact/enrollment_details.js" %}"></script>

{% endblock %}