{% extends "app-base.html" %}
{% load staticfiles my_filters %}
{% block extrahead %}
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10 m-t-md">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'list_contacts' %}">Contacts</a>
                </li>
                <li class="active">
                    <strong>Workflow</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xs-12 m-t-md">
        <select id="type-chooser">
            {% for type in stage_types %}
                <option value="{{type.0}}" {% if stage_type == type.0 %} selected="selected" {% endif %}>{{type.1}}</option>
            {% endfor %}
        </select>
    </div>
    <ul id="stages" class="col-xs-12 col-lg-6 m-t-md border-right">
        <h3> Stages/Status </h3>
        {% for stage in stages %}
            <li id="stage-{{ stage.stage_id }}" class="col-xs-12 m-b-md m-l-md {{ stage.type }}" style="min-height: 30px;">
                <a id="{{ stage.stage_id }}" href="" name="{{ stage.name }}" class="edit-stage">
                    <span style="text-decoration: underline;">{{ stage.name }}</span>
                </a>
                <ul id="stage-{{ stage.stage_id }}-statuses" class="statuses">
                {% for status in stage.statuses.all %}
                    <li id="status-{{ status.status_id }}" class="status-row">
                        <div class="col-xs-2 inline m-r-md">
                            <a id="{{ status.status_id }}" name="{{ status.name }}" stage="{{ stage.stage_id }}" color="{{ status.color }}" class="edit-status" href="">
                                <span style="text-decoration: underline;">{{ status.name }}</span>
                            </a>
                        </div>
                        <div class="col-xs-6 inline m-r-md" style="background-color: {{ status.color }}; width: 200px; height:15px; border: 1px gray solid;"></div>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <div id="actions" class="col-xs-12 col-lg-6">
        <div class="col-xs-12 m-t-md border-bottom" style="padding-bottom: 15px;">
            <h3> Actions </h3>
            <button id="add-stage-button" type="button" class="btn btn-primary">Add Stage</button>
            <button id="add-status-button" type="button" class="btn btn-primary" {% if not stages %} style="display: none;" {% endif %}>Add Status</button>
        </div>
        <div class="col-xs-12 m-t-md">
            <h3>Current Action: </h3>
            <div id="forms">
                {% include "contact/partials/workflows/add_status_form.html" %}
                {% include "contact/partials/workflows/edit_status_form.html" %}
                {% include "contact/partials/workflows/add_stage.form.html" %}
                {% include "contact/partials/workflows/edit_stage.form.html" %}
            </div>
        </div>
    </div>
    <script src="{% static "js/jquery-ui-1.10.4.min.js" %}"></script>
    <script src="{% static "js/contact/workflows.js" %}"></script>
    <script type="text/javascript" >
        var workflow_url = "{% url 'workflows' %}";
        var update_stage_order_url = "{% url 'update_stage_order' %}";
        var update_status_order_url = "{% url 'update_status_order' %}";
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
    </script>

{% endblock content %}