{% extends "sundog/base/app.html" %}


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "E-mail Marketing" "emarketing" %}
  {% breadcrumb "Senders" "emarketing.senders" %}
  {% breadcrumb object.title object %}
{% endblock %}


{% block title %}
  {{ block.super }}
  - E-mail Marketing
  - Senders
  - {{ object.title }}
{% endblock title %}


{% block app_view_content %}

  <div class="col-xs-12 no-padding-sides m-t-md">
    <h3>Edit Sender</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>
  </div>

{% endblock app_view_content %}
