{% extends "sundog/base/table.html" %}

{% load staticfiles %}


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "E-mail Marketing" "emarketing" %}
  {% breadcrumb "Senders" "emarketing.senders" %}
{% endblock %}


{% block title %}
  {{ block.super }}
  - E-mail Marketing
  - Senders
{% endblock title %}


{% block table_view_pre_content %}
  <div class="col-xs-12 m-t-md m-b-md">
    <div class="inline">
      <a
        href="{% url "emarketing.senders.add.ajax" %}"
        class="fm-create btn btn-primary"
        data-fm-head="Add Sender"
        data-fm-callback="reload"
      >
        Add Sender
      </a>
    </div>
  </div>
{% endblock table_view_pre_content %}
