<div class="col-md-8">
    <h3>Applicant</h3>
    <div class="form-group row">
        <div class="col-md-6 required">
            <label> Trust Account Provider </label>
        </div>
        <div class="col-md-6">{{ form.trust_account_provider }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> First Payment Cleared </label>
        </div>
        <div class="col-md-6">{{ form.first_payment_cleared_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Client had delinquent accounts in program when enrolled? </label>
        </div>
        <div class="col-md-6">{{ form.client_had_delinquent_accounts }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Last Payment Cleared </label>
        </div>
        <div class="col-md-6">{{ form.last_payment_cleared_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Unit(s) </label>
        </div>
        <div class="col-md-6">{{ form.units }}</div>
    </div>
</div>