<div class="col-md-12">
    <div class="m-b-md">
        <h3> Applicant </h3>
        <hr/>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label> Trust Account Provider * </label>
        </div>
        <div class="col-md-4">{{ form.trust_account_provider }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label> First Payment Cleared </label>
        </div>
        <div class="col-md-4">{{ form.first_payment_cleared_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label> Client had delinquent accounts in program when enrolled? </label>
        </div>
        <div class="col-md-4">{{ form.client_had_delinquent_accounts }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label> Last Payment Cleared </label>
        </div>
        <div class="col-md-4">{{ form.last_payment_cleared_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label> Unit(s) </label>
        </div>
        <div class="col-md-4">{{ form.units }}</div>
    </div>
</div>