<div class="col-md-6">
    <h3>Applicant</h3>
    <div class="form-group row">
        <div class="col-md-6">
            <label> MAR Due </label>
        </div>
        <div class="col-md-6">{{ form.mar_due_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Last MAR Completed </label>
        </div>
        <div class="col-md-6">{{ form.last_mar_completed_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> MAR Time </label>
        </div>
        <div class="col-md-6">{{ form.mar_time }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> MAR Type </label>
        </div>
        <div class="col-md-6">{{ form.mar_type }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Last MAR Attempt </label>
        </div>
        <div class="col-md-6">{{ form.last_mar_attempt_date }}</div>
    </div>
</div>