<div class="col-md-6">
    <h3>Applicant</h3>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Contact Info Updated </label>
        </div>
        <div class="col-md-6">{{ form.contact_info_updated_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> ATC Sent To All Creditors </label>
        </div>
        <div class="col-md-6">{{ form.atc_sent_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label> Notarized ATC On File? </label>
        </div>
        <div class="col-md-6">{{ form.notarized_atc }}</div>
    </div>
</div>