<div class="col-md-12">
    <div class="m-b-md">
        <h3> Applicant </h3>
        <hr/>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> Contact Info Updated </label>
        </div>
        <div class="col-md-4">{{ form.contact_info_updated_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> ATC Sent To All Creditors </label>
        </div>
        <div class="col-md-4">{{ form.atc_sent_date }}</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label> Notarized ATC On File? </label>
        </div>
        <div class="col-md-4">{{ form.notarized_atc }}</div>
    </div>
</div>