{% extends "sundog/base/table.html" %}

{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Files" "files" %}
{% endblock %}

{% block table_view_pre_content %}
    <div class="col-xs-12 m-t-md m-b-md no-padding-sides">
    {% if 'sundog.file__upload_media' in perms %}
        <div class="inline">
            <a class="fm-create btn btn-primary" data-fm-head="Upload File" data-fm-callback="reload" href="{% url 'files.add.ajax' %}">Upload File</a>
        </div>
    {% endif %}
    </div>
{% endblock table_view_pre_content %}

{% block table_view_post_content %}
    <script src="{% static "js/datatables_style.js" %}"></script>
{% endblock table_view_post_content %}
