{% extends "base.html" %}


{% block base_head %}

  {% block app_base_head %}
  {% endblock app_base_head %}

{% endblock base_head %}


{% block base_body_attrs %}

  class="md-skin"

{% endblock base_body_attrs %}


{% block base_pre_content %}

  <div id="wrapper" class="col-xs-12">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <ul class="nav navbar-top-links navbar-left m-l-md">

          <li class="menu-elem {% ifequal menu_page "contacts" %}menu-active{% endifequal %}">
            <a href="{% url 'list_contacts' %}">Contacts</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "creditors" %}menu-active{% endifequal %}">
            <a href="{% url 'creditors_list' %}">Creditors</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "enrollments" %}menu-active{% endifequal %}">
            <a href="{% url 'enrollments_list' %}">Enrollments</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "settlements" %}menu-active{% endifequal %}">
            <a href="{% url 'settlements_list' %}">Settlements</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "documents" %}menu-active{% endifequal %}">
            <a href="{% url 'documents' %}">Documents</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "files" %}menu-active{% endifequal %}">
            <a href="{% url 'files' %}">Files</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "emarketing" %}menu-active{% endifequal %}">
            <a href="{% url 'emarketing' %}">E-mail Marketing</a>
          </li>

          <li class="menu-elem {% ifequal menu_page "admin" %}menu-active{% endifequal %}">
            <a href="{% url 'users_list' %}">Admin</a>
          </li>

        </ul>

        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a href="{% url 'logout'%}">
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
        </ul>

      </nav>
    </div>

    {% block app_base_pre_content %}
    {% endblock app_base_pre_content %}

{% endblock base_pre_content %}


{% block base_content %}

  {% block app_base_content %}
  {% endblock app_base_content %}

{% endblock base_content %}


{% block base_post_content %}

    {% block app_base_post_content %}
    {% endblock app_base_post_content %}

  </div>

  <footer class="col-xs-12 border-top p-md m-t-md">
    <div class="text-center">
      Performance Settlement 2016
    </div>
  </footer>

{% endblock base_post_content %}
