{% extends "app-base.html" %}
{% load  staticfiles my_filters admin_urls avatar_tags %}
{% block content %}
<div class="col-xs-6 m-t-md" >
    <form id="impersonate-user-form" action="{% url 'impersonate_user' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h4><label for="id_user">Select a user to impersonate:</label></h4>
            {{ form.id|addcss:'form-control' }}
        </div>
        <button type="submit" class="btn btn-primary">Impersonate</button>
    </form>
</div>

<script type="text/javascript" >
    var form_errors = {{ form_errors|jsonify }};
</script>
    <script src="{% static "js/impersonate_user.js" %}"></script>
{% endblock %}