<h3>Monthly Expenses</h3>
<div class="col-xs-12 form-group border m-t-xs m-b-xs">
    {{ form_expenses.contact }}
    <div class="col-xs-12 form-group m-t-xs m-b-xs">
        <label class="col-xs-4 no-padding"> Mortgage / Rent </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.rent }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Utilities </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.utilities }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Transportation </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.transportation }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Insurance Premiums </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.insurance_premiums }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Food </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.food }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Telephone </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.telephone }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Medical Bills </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.medical_bills }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Back Taxes </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.back_taxes }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Student Loans </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.student_loans }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Alimony & Child Support </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.child_support }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Child Care </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.child_care }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Misc / Other </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.other_expenses }}
        </div>
    </div>
    -------------------------------------------------------
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> 2nd Mortgage / Rent </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.rent_2 }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Auto Other </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.auto_other }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Cable TV </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.tv }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Charity / Donations </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.charity }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Clothing </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.clothing }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Education </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.education }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Entertainment </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.entertainment }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Gym / Health </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.health }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Home Insurance </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.home_insurance }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Household Items </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.household_items }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Life Insurance </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.life_insurance }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Laundry / Dry Cleaning </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.laundry }}
        </div>
    </div>
    <div class="col-xs-12 form-group m-b-xs">
        <label class="col-xs-4 no-padding"> Medical Care </label>
        <div class="col-xs-8 no-padding input-group">
            <span class="input-group-addon green">$</span>
            {{ form_expenses.medical_care }}
        </div>
    </div>
</div>