{% extends "landing.html" %}
{% load  staticfiles %}
{% block alert %}
<script src="{% static "js/plugins/toastr/toastr.min.js" %}"></script>
 <script>
    $(document).ready(function() {
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-full-width",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "0",
              "extendedTimeOut": "0",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }

            toastr["success"]("Thanks for registering in our site, please check your email to activate your account")
            
    });
</script>
{% endblock alert %}
